@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,600);

body {
	font-family: 'Roboto';
}

.btn-custom {
	color: #fff;
	background-color: #19b79f;
	border-color: #19b79f;
}

.btn-outline-custom {
	color: #19b79f;
	background-color: #fff;
	border-color: #19b79f;
}

.btn-custom:hover, .btn-outline-custom:hover {
	color: #fff;
	background-color: #009E86;
	border-color: #009E86;
}

.logo {
	max-width: 281px;
}

.page-item.active .page-link {
    background-color: #19b79f;
    border-color: #19b79f;
}
.page-link {
    color: #19b79f;
}

.alert-success {
	background-color: #d3e6d7;
	border-color: #B3EAD2;
	color: #00846C;
}

.page-title {
	font-weight: bold;
}

th a {
	color: #212529;
}

span.note {
	font-size: small;
}